@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}


/* Image + title */
.welcomeDiv {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.welcomeDiv img {
    border-radius: 40%;
    box-shadow: 3px 3px 3px rgb(112, 112, 112);
    margin: 30px;
    width: 600px;
    height: 500px;
}


/* Grid for cards */

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    max-width: 1300px;
    width: 90%;
    height: auto;
    gap: 2%;
    margin: 30px auto;
    padding-bottom: 5%;
}


/* Card for games */

.gameCard {
    display: flex;
    border: 1px solid #333;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #FFDAB9;
}

.gameCard img {
    width: 300px;
    border-radius: 15%;
    box-shadow: 2px 2px 1px rgb(255, 200, 200);
}

.gameCard h4 {
    text-align: center;
    font-style: arial;
    font-size: large;
    margin: 18px;
}

.gameCard a {
    /* Play Button */
    border: 1px solid #333;
    border-radius: calc(3px + 2px + 1px);
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 80px;
    margin-right: 10px;
    align-self: flex-end;
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
}

.gameCard a:active {
    transform: scale(0.90);
    transition: transform .2s;
  }