/* Image + title */
.welcomeDiv{
    display: grid;
    justify-content: center;
    justify-items: center;
}
/* Navigation bar */
nav{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 8px #ddd;
}
nav img{
    background-image: "../public/images/capyDeFace.jpg";
    width: 50px;
    height: 50px;
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;

    
}
nav a{
    padding: 14px 16px;
    padding: auto;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    background-color: #555;
    color: #999;
}
nav a:hover {
    color: rgb(255, 255, 255);
}
nav li.active a{
    color: red;
}


.games{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    max-width: 1300px;
    width: 80%;
    height: auto;
    gap: 2%;
    margin: 30px auto;
    padding-bottom: 5%;
}
/* Card for games */
.gameCard{
    display: flex;
    border: 1px solid #333;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: rgba(136, 79, 32, 0.164);
}
.gameCard img{
    width: 300px;
    border-radius: 15%;
    box-shadow: 5px 3px 1px #333;
}
.gameCard h4{
    text-align: center;
    font-style: arial;
    font-size: large;
    margin: 18px;
}
.gameCard a{ /* Play Button */
    border: 1px solid #333;
	border-radius: calc(3px + 2px + 1px);
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
    width: 80px;
    margin-right: 10px;
    align-self: flex-end;
    box-shadow: 5px 3px 3px #333;
}